/*         */
/* General */
/*         */

.ds-multiline {
	white-space: pre-line;
}

.ds-pr-inline-p,
.ds-pr-inline-p p {
	display: inline;
}

.ds-pr-inline-p p,
.ds-pr-inline-p ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

.ds-pr-inline-p ul {
	display: grid;
}

.pr-container {
	position: relative;
	background: var(--code-background);
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 1em;
	font-family: Bitter;
	letter-spacing: 0.03em;
}

/* top-left border fade */

.pr-container::before,
.pr-container::after {
	content: '';
	position: absolute;
	background: linear-gradient(to right, transparent, var(--text-normal));
	height: 1px; /* Border thickness */
	width: 100%;
}

.pr-container::before {
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--text-normal), transparent);
	width: 12em;
}

.pr-container::after {
	top: 0;
	left: 0;
	height: 12em;
	background: linear-gradient(to bottom, var(--text-normal), transparent);
	width: 1px; /* Border thickness */
}

.pr-container.indent-1 {
	margin-left: calc(var(--list-indent) * 1);
}

.pr-container.indent-2 {
	margin-left: calc(var(--list-indent) * 2);
}

.pr-container.indent-3 {
	margin-left: calc(var(--list-indent) * 3);
}

.pr-container.indent-4 {
	margin-left: calc(var(--list-indent) * 4);
}

.pr-container.indent-5 {
	margin-left: calc(var(--list-indent) * 5);
}

.pr-container.indent-6 {
	margin-left: calc(var(--list-indent) * 6);
}

.pr-container .pr-name-value,
.pr-container .pr-cost-value {
	font-weight: bold;
	margin-left: 0.5em;
}

.pr-container .pr-roll-value {
	font-weight: bold;
}

.pr-container .pr-tier-key {
	font-weight: bold;
}

.pr-container .pr-flavor-value {
	font-style: italic;
}

.pr-container .pr-note-list, .pr-container .pr-note-line {
	font-style: italic;
}

.pr-container .pr-note-list {
	margin-bottom: 0;
}

span.dsa,
code.dsa {
	background-color: var(--tag-background);
	border: var(--tag-border-width) solid var(--tag-border-color);
	border-radius: var(--tag-radius);
	color: var(--tag-color);
	font-size: var(--tag-size);
	font-weight: var(--tag-weight);
	text-decoration: var(--tag-decoration);
	padding: var(--tag-padding-y) var(--tag-padding-x);
	line-height: 1;
}

.pr-detail-line,
.pr-field-line {
	margin: 0.5em;
	margin-bottom: .75em;
}

.pr-detail-table-row {
	display: flex;
	margin-left: 0.5em;
}

.pr-detail-table-cell {
	width: 50%;
}

.pr-detail-key {
	font-weight: bold;
}

.pr-field-key {
	font-weight: bold;
}

/* ===================== */
/* Tier key symbol boxes */
/* ===================== */

.pr-tier-line {
	display: flex;
	line-height: 1em;
}

.tier-key-container {
	display: flex;
	font-size: 1em;
	margin-right: .75em;
	max-height: 1em;
}

/* Tier 1 */

.t1-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}

.t1-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);

	clip-path: polygon(
		0.2em 0.2em,
		0.4em 0,
		calc(100% - 0.2em) 0,
		100% 0.2em,
		100% calc(100% - 0.2em),
		calc(100% - 0.2em) 100%,
		0.4em 100%,
		0.2em calc(100% - 0.2em),
		0.2em calc(50% + 0.2em),
		0 50%,
		0.2em calc(50% - 0.2em),
		0.2em 0.2em,

		calc(0.2em + 1px)  calc(0.2em + 0.41px),
		calc(0.2em + 1px) calc(50% - 0.2em + 0.41px),
		1.41px 50%,
		calc(0.2em + 1px) calc(50% + 0.2em - 0.41px),
		calc(0.2em + 1px) calc(100% - 0.2em - 0.41px),
		calc(0.4em + 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 0.41px) calc(100% - 1px),
		calc(100% - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.2em - 0.41px) 1px,
		calc(0.4em + 0.41px) 1px,
		calc(0.2em + 1px)  calc(0.2em + 0.41px)
	);
}

.t1-key-body-text {
	font-size: .9em;
}

/* Tier 2  */

.t2-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}
.t2-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.2em) 0,
		100% 0.2em,
		100% calc(100% - 0.2em),
		calc(100% - 0.2em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,

		1px  calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 0.41px) calc(100% - 1px),
		calc(100% - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.2em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px  calc(0.2em + 0.41px)
	);
}

.t2-key-body-text {
	font-size: .9em;
}

/* Tier 3  */

.t3-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}

.t3-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.4em) 0,
		calc(100% - 0.2em) 0.2em,
		calc(100% - 0.2em) calc(50% - 0.2em),
		100% 50%,
		calc(100% - 0.2em) calc(50% + 0.2em),
		calc(100% - 0.2em) calc(100% - 0.2em),
		calc(100% - 0.4em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,

		1px  calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.4em - 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 0.2em - 1px) calc(50% + 0.2em - 0.41px),
		calc(100% - 1.41px) 50%,
		calc(100% - 0.2em - 1px) calc(50% - 0.2em + 0.41px),
		calc(100% - 0.2em - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.4em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px  calc(0.2em + 0.41px)
	);
}

.t3-key-body-text {
	font-size: .9em;
}

/* Critical */

.crit-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}

.crit-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.4em) 0,
		calc(100% - 0.2em) 0.2em,
		calc(100% - 0.2em) calc(50% - 0.2em),
		100% 50%,
		calc(100% - 0.2em) calc(50% + 0.2em),
		calc(100% - 0.2em) calc(100% - 0.2em),
		calc(100% - 0.4em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,

		1px  calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.4em - 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 3px) calc(100% - 0.2em - 0.41px),
		calc(100% - 0.2em - 3px) calc(0.2em + 0.41px),
		calc(100% - 0.4em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px  calc(0.2em + 0.41px)
	);
}

.crit-key-body-text {
	font-size: .9em;
	padding-right: 3px;
}

/*.crit-key-right-side {*/
/*	--s: 4px;*/
/*	height: 1em;*/
/*	width: 0.5em;*/
/*	clip-path: polygon(0 0,var(--s) 0,100% 50%,var(--s) 100%,0 100%,calc(100% - var(--s)) 50%);*/
/*	background: var(--text-normal);*/
/*	margin-left: -1px;*/
/*	border-bottom: 1px solid var(--text-normal);*/
/*}*/

/* ==================== */
/* Horizontal Rule      */
/* ==================== */

.ds-hr-container {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 6px;
}

.ds-hr-left-line {
	flex-grow: 1;
	height: 2px;
	background-color: var(--text-normal);
	top: 50%; /* Center it vertically in the container */
	left: 0;
	right: 0;
	background: linear-gradient(to left, var(--text-normal) 0%, var(--background-primary) 100%);

}

.ds-hr-right-line {
	flex-grow: 1;
	height: 2px;
	background-color: var(--text-normal);
	top: 50%; /* Center it vertically in the container */
	left: 0;
	right: 0;
	background: linear-gradient(to right, var(--text-normal) 0%, var(--background-primary) 100%);

}

.ds-hr-center {
	width: 14px;
	height: 14px;
	background-color: var(--text-normal);
	transform: translateZ(1px) translateY(1px) rotate(45deg); /* Rotate the square to make it a diamond */
	position: relative;
	z-index: 1; /* Ensure the diamond is on top of the line */
	margin: 0 auto; /* Center the diamond */
	border-bottom: 2px solid var(--text-normal);
	border-right: 2px solid var(--text-normal);
	box-shadow: inset 0 0 0 3px var(--background-primary);
}

/* ==================== */

.dsa-setting-row {
	display: flex;
	justify-content: end;
}

.dsa-setting-row * {
	margin-left: 0.5em;
}

.dsa-setting-row-title {
	margin-right: auto;
	text-transform: capitalize;
	align-items: center;
	display: flex;
}

.dsa-sample-editor {
	margin: 0.5em;
	display: inline-block;
}

.dsa-hidden {
	display: none;
}

.cm-active .dsa-hidden {
	display: inline;
}

/* ==================== */
/* ==================== */
/* Initiative Tracker */
/* ==================== */
/* ==================== */

.turn-indicator {
	cursor: pointer;
}

.turn-indicator svg {
	margin: 1px;
	height: calc(100% - 1px);
	width: calc(100% - 1px);
	color: var(--text-normal);
	background-color: var(--code-background);
	border-radius: 4px 0 0 4px;
}

.turn-indicator.taken-turn svg {
	background-color: limegreen;
	color: var(--code-background);
}

.reset-round-button {
	margin-bottom: 10px;
	/* Additional styling */
}

.heroes-container .character-row, .enemy-group {
	position: relative;
	padding-top: 1px;
	padding-right: 1em;
	margin-bottom: .75em;
	background-color: var(--code-background);
}

.heroes-container .character-row::before, .enemy-group::before,
.heroes-container .character-row::after, .enemy-group::after {
	content: '';
	position: absolute;
	background: linear-gradient(to right, transparent, var(--text-normal));
	height: 1px; /* Border thickness */
	width: 100%;
}

.heroes-container .character-row::before, .enemy-group::before {
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--text-normal), transparent);
	width: 12em;
}

.heroes-container .character-row::after, .enemy-group::after {
	top: 0;
	left: 0;
	height: 100%;
	max-height: 12em;
	background: linear-gradient(to bottom, var(--text-normal), transparent);
	width: 1px; /* Border thickness */
}

.enemy-group-container {
	display: flex;
}
.enemy-group {
	padding: 1em;
	width: 100%;
}

.group-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.group-header h4 {
	margin-top: 0;
}

/* Creature Group */
.creature-group {
	margin-bottom: 20px;
}

/* Detailed Creature Row */
.creature-detail-row {
	margin-bottom: 10px;
}

/* Instances Grid */
.creature-instances-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 10px;
}

/* Instance Cell */
.creature-instance-cell {
	text-align: center;
	padding: 5px;
	background-color: var(--color-base-30);
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.creature-instance-cell.selected {
	/*border-color: #007BFF;*/
	/*box-shadow: 0 0 5px #007BFF;*/
	border-color: #D50000;
	box-shadow: 0 0 5px #D50000;
}

.instance-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	/* Prevent any image on-click events from firing since we override with our behavior */
	pointer-events: none;
}

.instance-hp {
	font-size: 16px;
}

.hero-container {
	display: flex;
}

.character-icon, .enemy-group-icon {
	height: 1.5em;
	width: 1.5em;
	border: 1px solid var(--text-normal);
	border-right: 0;
	border-radius: 5px 0 0 5px;
}

/* Character Row (Detailed View) */
.character-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}


.character-image {
	display: flex;
}

.character-image img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.character-info {
	flex: 1;
	margin-left: 10px;
}

.character-name {
	font-weight: bold;
}

.character-conditions {
	margin-top: 5px;
	height: 24px;
}

.character-health {
	margin-left: 10px;
}

.character-hp {
	cursor: pointer;
	font-weight: bold;
}

/* HP Bar */
.hp-bar-container {
	width: 100%;
	background-color: #ccc;
	border: 1px solid #999;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	height: 20px;
}

.hp-bar {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.hp-bar-fill-left {
	height: 100%;
	background-color: #4caf50; /* Default color */
	width: 50%; /* Will be updated dynamically */
	border-radius: 5px 0 0 5px;
}

.hp-bar-fill-right {
	height: 100%;
	background-color: #4caf50; /* Default color */
	width: 50%; /* Will be updated dynamically */
	border-radius: 0 5px 5px 0;
}

/* Numeric HP Display */
.hp-numeric-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.hp-adjust-btn {
	width: 30px;
	height: 30px;
}

.hp-adjust-btn svg {
	height: 100%;
}

.hp-value-display {
	width: 3em;
	text-align: center;
	margin: 0 5px;
}

.max-hp-display {
	margin-left: 5px;
	margin-right: 5px;
}

/* Apply Damage/Healing */
.apply-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.apply-input {
	width: 60px;
	margin: 0 5px;
}

.apply-btn {
	margin-left: 5px;
}

/* Action Button */
.action-button-container {
	text-align: center;
	margin-top: 20px;
}

.action-button {
	padding: 10px 20px;
	font-size: 16px;
}

.action-button.disabled {
	opacity: 0.5;
	pointer-events: none;
}

