/* ==================== */
/*     General Styles    */
/* ==================== */

.ds-multiline {
	white-space: pre-line;
}

/* Top-left border fade for containers */

.ds-container::before,
.ds-container::after {
	content: '';
	position: absolute;
	background: linear-gradient(to right, transparent, var(--text-normal));
	height: 1px; /* Border thickness */
	width: 100%;
}

.ds-container::before {
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--text-normal), transparent);
	width: 12em;
}

.ds-container::after {
	top: 0;
	left: 0;
	height: 100%;
	max-height: 12em;
	background: linear-gradient(to bottom, var(--text-normal), transparent);
	width: 1px; /* Border thickness */
}

/* ==================== */
/*   Power Roll Styles   */
/* ==================== */

.ds-pr-inline-p,
.ds-pr-inline-p p {
	display: inline;
}

.ds-pr-inline-p p,
.ds-pr-inline-p ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

.ds-pr-inline-p ul {
	display: grid;
}

.pr-container {
	position: relative;
	background: var(--code-background);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
	font-family: Bitter;
	letter-spacing: 0.03em;
}

/* Top-left border fade for power roll container */

.pr-container::before,
.pr-container::after {
	content: '';
	position: absolute;
	background: linear-gradient(to right, transparent, var(--text-normal));
	height: 1px; /* Border thickness */
	width: 100%;
}

.pr-container::before {
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--text-normal), transparent);
	width: 12em;
}

.pr-container::after {
	top: 0;
	left: 0;
	height: 12em;
	background: linear-gradient(to bottom, var(--text-normal), transparent);
	width: 1px; /* Border thickness */
}

/* Indentation levels for power roll container */

.pr-container.indent-1 {
	margin-left: calc(var(--list-indent) * 1);
}

.pr-container.indent-2 {
	margin-left: calc(var(--list-indent) * 2);
}

.pr-container.indent-3 {
	margin-left: calc(var(--list-indent) * 3);
}

.pr-container.indent-4 {
	margin-left: calc(var(--list-indent) * 4);
}

.pr-container.indent-5 {
	margin-left: calc(var(--list-indent) * 5);
}

.pr-container.indent-6 {
	margin-left: calc(var(--list-indent) * 6);
}

/* Styling for power roll elements */

.pr-container .pr-name-value,
.pr-container .pr-cost-value {
	font-weight: bold;
	margin-left: 0.5em;
}

.pr-container .pr-roll-value,
.pr-container .pr-tier-key {
	font-weight: bold;
}

.pr-container .pr-flavor-value,
.pr-container .pr-note-list,
.pr-container .pr-note-line {
	font-style: italic;
}

.pr-container .pr-note-list {
	margin-bottom: 0;
}

/* DSA tag styling */

span.dsa,
code.dsa {
	background-color: var(--tag-background);
	border: var(--tag-border-width) solid var(--tag-border-color);
	border-radius: var(--tag-radius);
	color: var(--tag-color);
	font-size: var(--tag-size);
	font-weight: var(--tag-weight);
	text-decoration: var(--tag-decoration);
	padding: var(--tag-padding-y) var(--tag-padding-x);
	line-height: 1;
}

/* Detail and field lines */

.pr-detail-line,
.pr-field-line {
	margin: 0.5em;
	margin-bottom: 0.75em;
}

.pr-detail-table-row {
	display: flex;
	margin-left: 0.5em;
}

.pr-detail-table-cell {
	width: 50%;
}

.pr-detail-key,
.pr-field-key {
	font-weight: bold;
}

/* =========================== */
/*   Tier Key Symbol Boxes     */
/* =========================== */

.pr-tier-line {
	display: flex;
	line-height: 1em;
}

.tier-key-container {
	display: flex;
	font-size: 1em;
	margin-right: 0.75em;
	max-height: 1em;
}

/* Tier 1 */

.t1-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.t1-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);

	clip-path: polygon(
		0.2em 0.2em,
		0.4em 0,
		calc(100% - 0.2em) 0,
		100% 0.2em,
		100% calc(100% - 0.2em),
		calc(100% - 0.2em) 100%,
		0.4em 100%,
		0.2em calc(100% - 0.2em),
		0.2em calc(50% + 0.2em),
		0 50%,
		0.2em calc(50% - 0.2em),
		0.2em 0.2em,
		calc(0.2em + 1px) calc(0.2em + 0.41px),
		calc(0.2em + 1px) calc(50% - 0.2em + 0.41px),
		1.41px 50%,
		calc(0.2em + 1px) calc(50% + 0.2em - 0.41px),
		calc(0.2em + 1px) calc(100% - 0.2em - 0.41px),
		calc(0.4em + 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 0.41px) calc(100% - 1px),
		calc(100% - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.2em - 0.41px) 1px,
		calc(0.4em + 0.41px) 1px,
		calc(0.2em + 1px) calc(0.2em + 0.41px)
	);
}

.t1-key-body-text {
	font-size: 0.9em;
}

/* Tier 2  */

.t2-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.t2-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.2em) 0,
		100% 0.2em,
		100% calc(100% - 0.2em),
		calc(100% - 0.2em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,
		1px calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 0.41px) calc(100% - 1px),
		calc(100% - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.2em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px calc(0.2em + 0.41px)
	);
}

.t2-key-body-text {
	font-size: 0.9em;
}

/* Tier 3 */

.t3-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.t3-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.4em) 0,
		calc(100% - 0.2em) 0.2em,
		calc(100% - 0.2em) calc(50% - 0.2em),
		100% 50%,
		calc(100% - 0.2em) calc(50% + 0.2em),
		calc(100% - 0.2em) calc(100% - 0.2em),
		calc(100% - 0.4em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,
		1px calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.4em - 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 1px) calc(100% - 0.2em - 0.41px),
		calc(100% - 0.2em - 1px) calc(50% + 0.2em - 0.41px),
		calc(100% - 1.41px) 50%,
		calc(100% - 0.2em - 1px) calc(50% - 0.2em + 0.41px),
		calc(100% - 0.2em - 1px) calc(0.2em + 0.41px),
		calc(100% - 0.4em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px calc(0.2em + 0.41px)
	);
}

.t3-key-body-text {
	font-size: 0.9em;
}

/* Critical */

.crit-key-body {
	position: relative;
	width: 3em;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
}

.crit-key-body:before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--text-normal);
	clip-path: polygon(
		0 0.2em,
		0.2em 0,
		calc(100% - 0.4em) 0,
		calc(100% - 0.2em) 0.2em,
		calc(100% - 0.2em) calc(50% - 0.2em),
		100% 50%,
		calc(100% - 0.2em) calc(50% + 0.2em),
		calc(100% - 0.2em) calc(100% - 0.2em),
		calc(100% - 0.4em) 100%,
		0.2em 100%,
		0 calc(100% - 0.2em),
		0 0.2em,
		1px calc(0.2em + 0.41px),
		1px calc(100% - 0.2em - 0.41px),
		calc(0.2em + 0.41px) calc(100% - 1px),
		calc(100% - 0.4em - 0.41px) calc(100% - 1px),
		calc(100% - 0.2em - 3px) calc(100% - 0.2em - 0.41px),
		calc(100% - 0.2em - 3px) calc(0.2em + 0.41px),
		calc(100% - 0.4em - 0.41px) 1px,
		calc(0.2em + 0.41px) 1px,
		1px calc(0.2em + 0.41px)
	);
}

.crit-key-body-text {
	font-size: 0.9em;
	padding-right: 3px;
}

/* ==================== */
/*    Horizontal Rule   */
/* ==================== */

.ds-hr-container {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 6px;
}

.ds-hr-left-line,
.ds-hr-right-line {
	flex-grow: 1;
	height: 2px;
	background-color: var(--text-normal);
	top: 50%; /* Center it vertically */
	left: 0;
	right: 0;
}

.ds-hr-left-line {
	background: linear-gradient(to left, var(--text-normal) 0%, var(--background-primary) 100%);
}

.ds-hr-right-line {
	background: linear-gradient(to right, var(--text-normal) 0%, var(--background-primary) 100%);
}

.ds-hr-center {
	width: 14px;
	height: 14px;
	background-color: var(--text-normal);
	transform: translateZ(1px) translateY(1px) rotate(45deg); /* Rotate to make a diamond */
	position: relative;
	z-index: 1; /* Ensure the diamond is above the lines */
	margin: 0 auto; /* Center the diamond */
	border-bottom: 2px solid var(--text-normal);
	border-right: 2px solid var(--text-normal);
	box-shadow: inset 0 0 0 3px var(--background-primary);
}

/* ==================== */
/*    DSA Settings      */
/* ==================== */

.dsa-setting-row {
	display: flex;
	justify-content: flex-end;
}

.dsa-setting-row * {
	margin-left: 0.5em;
}

.dsa-setting-row-title {
	margin-right: auto;
	text-transform: capitalize;
	align-items: center;
	display: flex;
}

.dsa-sample-editor {
	margin: 0.5em;
	display: inline-block;
}

.dsa-hidden {
	display: none;
}

.cm-active .dsa-hidden {
	display: inline;
}

/* ==================== */
/*   Initiative Tracker */
/* ==================== */

/* Error Message Styling */

.error-message {
	font-family: monospace;
	white-space: pre;
	text-wrap: wrap;
	background-color: var(--code-background);
	padding: 1em;
	position: relative;
}

/* Turn Indicator Styling */

.turn-indicator {
	cursor: pointer;
}

.turn-indicator svg {
	margin: 1px;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	color: var(--text-normal);
	background-color: var(--code-background);
	border-radius: 4px 0 0 4px;
}

.turn-indicator.taken-turn svg {
	background-color: limegreen;
	color: var(--code-background);
}

/* Reset Round Button */

.reset-round-button {
	margin-bottom: 10px;
}

/* Character Rows */

.heroes-container .character-row,
.enemy-group {
	position: relative;
	padding-top: 1px;
	padding-right: 1em;
	margin-bottom: 0.75em;
	background-color: var(--code-background);
}

/* Top-left border fade for character rows */

.heroes-container .character-row::before,
.enemy-group::before,
.heroes-container .character-row::after,
.enemy-group::after {
	content: '';
	position: absolute;
	background: linear-gradient(to right, transparent, var(--text-normal));
	height: 1px; /* Border thickness */
	width: 100%;
}

.heroes-container .character-row::before,
.enemy-group::before {
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--text-normal), transparent);
	width: 12em;
}

.heroes-container .character-row::after,
.enemy-group::after {
	top: 0;
	left: 0;
	height: 100%;
	max-height: 12em;
	background: linear-gradient(to bottom, var(--text-normal), transparent);
	width: 1px; /* Border thickness */
}

/* Enemies Header */

.enemies-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Villain Power Styling */

.vp-container {
	font-weight: bold;
	color: red;
	display: flex;
	align-items: center;
}

.vp-container .vp-modifiers {
	visibility: hidden;
	margin-right: 0.5em;
}

.vp-container:hover .vp-modifiers {
	visibility: visible;
}

.vp-modifiers svg {
	height: 100%;
	width: 100%;
}

.vp-modifier {
	cursor: pointer;
	height: 24px;
}

.vp-modifier:hover {
	background-color: var(--code-background);
}

/* Enemy Group Container */

.enemy-group-container {
	display: flex;
}

.enemy-group {
	padding: 1em;
	width: 100%;
}

.group-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.group-header h4 {
	margin-top: 0;
}

/* Creature Group */

.creature-group {
	margin-bottom: 20px;
}

/* Detailed Creature Row */

.creature-detail-row {
	margin-bottom: 10px;
}

/* ============================= */
/*    Creature Instances Grid     */
/* ============================= */

.creature-instances-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	gap: 10px;
}

.creature-instance-cell {
	text-align: center;
	padding: 5px;
	background-color: var(--color-base-30);
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 80px;
}

.creature-instance-cell.selected {
	border-color: #D50000;
	box-shadow: 0 0 5px #D50000;
}

.instance-image {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}

.instance-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

.instance-stamina {
	font-size: 14px;
	word-wrap: break-word;
	text-align: center;
	max-width: 100%;
}

/* Responsive Adjustments for Grid */

@media (min-width: 600px) {
	.creature-instances-grid {
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	}
}

@media (max-width: 599px) {
	.creature-instances-grid {
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	}

	.creature-instance-cell {
		min-width: 60px;
	}

	.instance-stamina {
		font-size: 12px;
	}
}

/* =========================== */
/*    Hero and Character Rows  */
/* =========================== */

.hero-container {
	display: flex;
}

.character-icon,
.enemy-group-icon {
	height: 1.5em;
	width: 1.5em;
	border: 1px solid var(--text-normal);
	border-right: 0;
	border-radius: 5px 0 0 5px;
}

.character-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.character-image {
	display: flex;
}

.character-image img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.character-info {
	flex: 1;
	margin-left: 10px;
}

.character-name {
	font-weight: bold;
}

.character-conditions {
	margin-top: 5px;
	height: 24px;
	display: flex;
	align-items: center;
}

.condition-icon,
.add-condition-icon {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.character-conditions svg {
	display: block;
}

.add-condition-icon {
	color: var(--color-base-50);
}

.add-condition-icon:hover {
	color: var(--color-base-100);
}

.character-health {
	margin-left: 10px;
}

.character-stamina {
	cursor: pointer;
	font-weight: bold;
}

/* ==================== */
/*     Stamina Modal    */
/* ==================== */

.stamina-header {
	text-align: center;
}

/* Stamina Bar */

.stamina-bar-container {
	width: 100%;
	background-color: var(--code-background);
	border: 1px solid var(--text-normal);
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	height: 20px;
}

.stamina-bar {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.stamina-bar-overlay {
	position: absolute;
	height: calc(100% - 2px);
	width: 33.33%;
	background-color: rgba(0, 0, 0, 0.2);
	left: 1px;
	top: 1px;
	border: 1.5px dashed var(--code-background);
	z-index: 1;
	border-radius: 3px 0 0 3px;
	color: var(--code-background);
	text-align: center;
	line-height: 100%;
	font-size: 0.7em;
	padding-top: 1px;
	text-shadow: 0.5px 0.5px 4px var(--text-normal);
	font-weight: bold;
	box-shadow: 1px 0px 0px 0px var(--text-normal);
}

.stamina-bar-fill-left {
	position: relative;
	height: calc(100% - 2px);
	top: 1px;
	left: 1px;
	background-color: limegreen; /* Default color */
	width: 50%; /* Will be updated dynamically */
	border-radius: 3px 0 0 3px;
}

.stamina-bar-fill-right {
	height: calc(100% - 2px);
	top: 1px;
	position: relative;
	background-color: deepskyblue; /* Default color */
	width: 50%; /* Will be updated dynamically */
	border-radius: 0 3px 3px 0;
	border-left: 1px solid var(--code-background);
}

/* Numeric Stamina Display */

.stamina-numeric-container {
	display: -webkit-inline-box;
	margin-bottom: 10px;
}

.stamina-adjust-btn {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.stamina-adjust-btn svg {
	height: 100%;
}

.stamina-value-display {
	width: 3em;
	text-align: center;
	margin: 0 5px;
}

.max-stamina-display {
	margin-left: 5px;
	margin-right: 5px;
}

/* Apply Damage/Healing */

.modifier-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-between;
}

.modifier-container > div {
	width: 100%;
	padding: 1em;
}

.vertical-divider {
	padding: 0 !important;
	padding-top: 8em !important;
	width: 1px !important;
	border-left: 1px solid var(--color-base-40);
}

.apply-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.5em;
}

.apply-input {
	width: 60px;
}

.apply-btn,
.quick-mod-btn {
	display: flex;
	width: 100%;
	margin-top: 0.5em;
	justify-content: start;
}

.apply-btn .btn-text,
.quick-mod-btn .btn-text,
.reset-button .btn-text {
	height: 100%;
	margin-left: 0.5em;
}

/* Temporary Stamina Container */

.temp-stamina-container {
	background-color: var(--code-background);
	margin-top: 0.5em;
	border-radius: 5px;
	padding: 0.5em 0;
}

.temp-stamina-title {
	text-align: center;
	font-size: var(--font-ui-small);
}

.temp-stamina-body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.5em;
}

.temp-stamina-input {
	width: 3em;
}

/* Action Button */

.action-button-container {
	text-align: center;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

button.action-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: var(--interactive-accent);
}

.action-button.disabled {
	opacity: 0.5;
	pointer-events: none;
	background-color: var(--interactive-normal);
}

/* ===================== */
/*    Condition Modal    */
/* ===================== */

/* Conditions List */
.conditions-list {
	display: flex;
	flex-wrap: wrap;
}

/* Condition Item */
.condition-item {
	position: relative;
	display: flex;
	align-items: center;
	width: calc(50% - 2em);
	padding: 4px 1em;
	/* padding-left: 1em; */
	cursor: pointer;
	box-sizing: border-box;
	transition: background-color 0.2s;
	margin: 0 1em 0.25em 1em;
	border: 2px solid transparent;
	border-radius: 4px;
}

.condition-item:hover {
	background-color: var(--code-background);
}

/* Selected Condition */
.condition-item.selected {
	border: 2px solid var(--interactive-accent);
	border-radius: 4px;
}

/* Condition Icon Preview */
.condition-icon-preview {
	font-size: 1.5em;
}

/* Condition Label */
.condition-label {
	margin-left: 8px;
	flex-grow: 1;
}

/* Customize Icon (Cog) */
.condition-customize-icon {
	margin-left: 8px;
	cursor: pointer;
	display: none; /* Hidden by default */
}

.condition-item:hover .condition-customize-icon {
	display: inline-block; /* Show on hover */
}

.condition-customize-icon {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}

/* Customize Icon Size */
.condition-customize-icon svg {
	width: 1em;
	height: 1em;
}

/* Horizontal Divider */
.horizontal-divider {
	width: 100%;
	margin: 1em 0;
	height: 1px;
	background-color: var(--color-base-40);
}

/* Modal Buttons */
.add-condition-modal .modal-buttons button,
.customize-condition-modal .modal-buttons button {
	margin: 1em 0 0 1em;
}

.add-condition-modal .modal-buttons,
.customize-condition-modal .modal-buttons {
	display: flex;
	justify-content: flex-end;
}

.customize-condition-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customize-condition-modal .color-picker-container,
.customize-condition-modal .effect-container {
	margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.customize-condition-modal label {
	width: 4em;
	margin-right: 1em;
}

.customize-condition-preview {
	height: 2em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ===================== */
/*    Effects            */
/* ===================== */


/* Blink effect */
.condition-effect-blink {
	animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

/* For blur-blink effect */
.condition-effect-blur-pulse path,
.condition-effect-blur-pulse svg {
	animation: blur-pulse-animation 2s infinite;
	overflow: visible;
}

@keyframes blur-pulse-animation {
	0% {
		filter: blur(0px);
	}
	50% {
		filter: blur(2px);
	}
	100% {
		filter: blur(0px);
	}
}

/* Glow Effect */

.condition-effect-glow path,
.condition-effect-glow svg {
	filter: drop-shadow(0 0 4px currentColor);
	overflow: visible;
}

/* Glow Pulse Effect */

.condition-effect-glow-pulse path,
.condition-effect-glow-pulse svg {
	animation: glow-pulse-animation 2s infinite;
	overflow: visible;
}

@keyframes glow-pulse-animation {
	0% {
		filter: drop-shadow(0 0 1px currentColor);
	}
	50% {
		filter: drop-shadow(0 0 4px currentColor);
	}
	100% {
		filter: drop-shadow(0 0 1px currentColor);
	}
}

/* Breathing effect */
.condition-effect-breathing {
	animation: breathing-animation 3s ease-in-out infinite;
}

@keyframes breathing-animation {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
